/* Color Palette: https://www.color-hex.com/color-palette/1294 */

body {
  margin: 0;
  width: 100vw;
  min-width: 325px;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* Main */

#header, #footer {
  height: 40px;
  font-size: 0.9em;
}
#header > .inner {
  width: 350px;
  margin: auto;
}
#header > .inner > a, #header > .inner > span {
  display: inline-block;

  height: 40px;
  line-height: 40px;
}
#header > .inner > a > .title {
  font-size: 1.4em;
  height: 40px;
}
#header > .inner > a > .subtitle {
  margin-top: 22px;
  height: 18px;
  line-height: 16px;
  margin-left: 5px;

  font-size: 0.8em;
  text-transform: uppercase;
}
#footer {
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
}
#footer > a {
  display: inline-block;

  width: 80px;
  height: 40px;
}

#app {
  display: flex;
  flex-direction: column;

  width: 375px;
  min-height: calc(100vh - 80px);
  margin: auto;
}
#app > div {
  width: 100%;
}
#app > div.space {
  margin: 30px auto 0 auto;
}

#container_shared > .tab_group > div.tab {
  width: 70px;
}

#container_settings > .tab_group > div.tab {
  width: 50px;
}

#id_link {
  font-size: 0.9em;
}

#tab_link {
  border-top-right-radius: 4px;
}
#tab_file {
  border-top-left-radius: 4px;
}
#tab_image, #tab_message, .tab_round {
  border-radius: 4px;
}

#image_preview, .image_preview {
  max-width: calc(100% - 30px);
  max-height: 50vh;
  min-width: 50px;
  min-height: 50px;
  margin: 10px auto;
  border-radius: 4px;
}

#container_fulltext {
  border-radius: 4px;
  margin-bottom: 15px !important;
}
#container_fulltext > p, #container_fulltext > ol {
  display: block;

  margin: 10px 15px;
  width: calc(100% - 30px);

  text-align: left;
}
#container_fulltext > ol {
  width: calc(100% - 50px);
  padding-left: 20px;
}

#container_view > div > div.text_notice {
  font-size: 1.1em;
}

#alerts {
  position: absolute;
  top: 0;

  width: 100vw;
}
.alert {
  width: 375px;
  padding: 5px 0;
  margin: 15px auto;
  border-radius: 4px;
  box-shadow: 0 0 1px #fff;

  cursor: pointer;
  animation: fadein cubic-bezier(0,0.8,0.9,1) 0.5s;
}
.alert > div {
  margin: 10px auto;
}
.alert > .small {
  font-size: 0.7em;
}

/* Helpers */

#container_loader, #container_view, #container_final, #container_error {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: calc(100vh - 80px);
}

.hide, #sample {
  display: none !important;
}

#header, #footer, a, label, .btn, .tab, .loader, .alert {
  -webkit-user-select: none;
  user-select: none;
}

#app > div.disabled, .tab_group.disabled, .btn.disabled {
  opacity: 0.5;

  pointer-events: none;
}

.loader {
  position: relative;

  width: calc(100% - 30px);
  height: 40px;
  border-radius: 4px;
  margin: 15px;
  line-height: 40px;

  font-size: 1.1em;
  overflow: hidden;
  cursor: wait;
}
.loader > .bar {
  position: relative;

  height: 40px;

  overflow: hidden;
}
.loader > .message {
  position: relative;

  width: 100%;
  height: 40px;

  font-weight: bold;
  font-size: 0.8em;
  transform: translateY(-40px);
  z-index: 1000;
  text-transform: capitalize;
}

.tab_group {
  display: inline-flex;
  justify-content: space-between;

  width: calc(100% - 30px);
  margin: 0 15px;
}
.tab_group.space {
  margin-top: 15px;
}
.tab_group.solid {
  width: calc(100% - 34px);
  border: 2px solid #005b96;
  border-radius: 8px;

  overflow: hidden;
}
.tab {
  display: inline-flex;
  flex-direction: column;

  height: 60px;
  border-radius: 4px 4px 0 0;

  overflow: hidden;
}
.tab_group.pills > .tab {
  border-radius: 4px;
}
.tab > span {
  width: 100%;
}
.tab > span:first-of-type {
  height: 40px;
  line-height: 40px;

  font-size: 1.6em;
}
.tab > span:last-of-type {
  height: 20px;
  line-height: 20px;

  font-size: 0.9em;
}
.tab.disabled {
  opacity: 0.6;

  border-radius: 4px;

  cursor: default;
}
.tab_content {
  width: calc(100% - 30px);
  margin: 0 15px;
  border-radius: 0 0 4px 4px;
  padding: 15px 0;
}

.text_notice {
  width: calc(100% - 50px);
  margin: 0 15px;
  border-radius: 4px;
  padding: 10px 10px;
}

.btn {
  font-weight: bold;
}
.btn.block {
  display: block;

  width: calc(100% - 30px);
  height: 40px;
  border-radius: 4px;
  margin: 15px;
  line-height: 40px;

  font-size: 1.1em;
}
a, .btn, .tab {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}

label {
  display: block;

  width: calc(100% - 30px);
  margin: 2px 15px;
  height: 14px;
  line-height: 14px;

  font-size: 0.9em;
  text-align: left;
}
input, textarea {
  width: calc(100% - 30px);
  height: 38px;
  line-height: 38px;
  margin: 0 15px 15px 15px;
  border-radius: 4px;
  border: 0;
  padding: 0;

  text-align: center;
  font-size: 1.1em;
}
textarea {
  height: auto;
  width: calc(100% - 50px) !important;
  min-height: 120px !important;
  max-width: calc(100% - 50px);
  padding: 10px;
  line-height: 24px !important;

  text-align: left !important;
}
input.mono, textarea.mono {
  font-family: "Lucida Console", Monaco, monospace;
}
input.sidecar {
  display: inline-block;

  width: calc(100% - 68px);
  margin: 0 0 15px 15px;
  border-radius: 4px 0 0 4px;
}
div.btn.sidecar {
  display: inline-block;

  width: 38px;
  height: 38px;
  margin: 0 15px 15px 0;
  border-radius: 0 4px 4px 0;
  line-height: 38px;

  float: right;
}

/* Mobile */

@media only screen and (max-width: 400px) {
  #header, #header > .inner, #app {
    width: 100%;
  }
  .alert {
    width: calc(100% - 20px);
    margin: 15px 10px;
  }
}

/* Animations */

@keyframes copy {
  0%   { color: #000; }
  20%  { color: #fff; }
  100% { color: #000; }
}
@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}

/* Colors */

body {
  background-color: #b3cde0;
}
a, #header, #footer, .tab, #container_fulltext, .text_notice {
  color: #011f4b;
}
.loader, .tab.active, .tab_content, .btn {
  color: #fff;
}
input:invalid, textarea:invalid, .alert {
  background-color: #fee;
  color: #e33;
}
.loader, .btn:active  {
  background-color: #011f4b;
}
.loader > .bar, .tab.active, .tab_content, .btn {
  background-color: #005b96;
}
.tab:not(.disabled):not(.active):hover, #container_fulltext, .text_notice {
  background-color: #6497b1;
}
.tab.disabled {
  background-color: #d9dee1;
}
.btn:hover {
  background-color: #03396c;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #011f4b;
  }
  a, #header, #footer, .tab {
    color: #b3cde0;
  }
  .loader, .tab.active, .tab_content, .btn, label, #container_fulltext, .text_notice {
    color: #fff;
  }
  input, textarea {
    background-color: #bbb;
  }
  input:invalid, textarea:invalid, .alert {
    background-color: #700;
    color: #b3cde0;
  }
  .loader, .btn:active  {
    background-color: #b3cde0;
  }
  .btn:active {
    color: #011f4b;
  }
  .loader > .bar, .tab.active, .tab_content, .btn, #container_fulltext {
    background-color: #005b96;
  }
  .tab.disabled {
    color: #000;
  }
  .tab:not(.disabled):not(.active):hover, .text_notice {
    background-color: #03396c;
  }
  .tab.disabled {
    background-color: #d9dee1;
    opacity: 0.4;
  }
  .btn:hover {
    background-color: #6497b1;
  }
}
